body {
    background-color: #3EA520;
    text-align: center;
    font-family: "Inter"; sans-serif;
}

/* --- Heading */

.heading {
    text-align: center;
    font-size: 3rem;
}

#heading-logo {
    width: 100px;
    height: 100px;
}

#timer-logo {
    width: 50px;
    height: 50px;
    margin-left: 200px;
    
}

/* --- Quiz layout */

.begin-screen {
    align-items: center;
}

.quiz-area {
    background-color: #209BA5;
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.question-number-area {
    text-align: left;
}

.question-area {
    text-align: left;
}

.question-option {
    background-color: white;
    display:block;
    margin: 10px;
    padding: 0.5px
}

.question-option:hover {
    background-color: #3EA520;
}

.scores {
    display: inline-block;
    margin-top: 10px;
    background-color: #209BA5;
    padding: 5 2px;
}

.hide {
	display: none;
}

#btn-next {
    font-size: 1.3em;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5 5px;
}

#score {
    color: green;
    font-weight: bold;
    padding: 5px;
}

#incorrect {
    color: red;
    font-weight: bold;
    padding: 5px;
    
}

#begin-button {
	font-size: 1.2em;
}
/* --- Media queries */

@media (max-width: 414px) {
        .quiz-area {
            margin: 10px;
            padding: 5px;
            
        }
    }
